<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--Main-->
    <!--<add name="ConnectionStrMysql" connectionString="Database=robot_request; Server=127.0.0.1; Uid=root; Pwd=123456;Allow User Variables=True;charset=utf8mb4;" />-->
    <add name="ConnectionStrMysql" connectionString="Database=qa; Server=192.168.2.99; Uid=usrrw; Pwd=activerw;Allow User Variables=True;charset=utf8;" />
	  <!--<add name="ConnectionStrMysqlQA" connectionString="Database=qa_system;Server=192.168.14.236;Uid=SoftwareDev;Pwd=mMQf489^;Allow User Variables=True;charset=utf8mb4;port=3306" />-->
	  <add name="ConnectionStrMysqlQA" connectionString="Database=_test_qa_system_tanawut;Server=192.168.14.236;Uid=SoftwareDev;Pwd=mMQf489^;Allow User Variables=True;charset=utf8mb4;port=3306" />
	  <!--<add name="ConnectionStrMysqlQA" connectionString="Database=qa_system; Server=192.168.14.236; Uid=user_ro ; Pwd=12345 ;Allow User Variables=True;charset=utf8mb4;"/>-->
	  <add name="ConnectionStrMysqlMES" connectionString="Database=mes; Server=192.168.14.236; Uid=ProductionDev ; Pwd=activerw ;Allow User Variables=True;charset=utf8mb4;" />
	  <!--<add name="ConnectionStrMysqlQA" connectionString="Database=mes; Server=192.168.14.236; Uid=MES_RO ; Pwd=MES_RO12345 ;Allow User Variables=True;charset=utf8mb4;"/>-->
	  <!--<add name="ConnectionStrMysqlQA" connectionString="Database=qa_system; Server=192.168.14.236; Uid=SoftwareDev; Pwd=mMQf489^;port=3306;"/>-->
	  <!--<add name="ConnectionStrMysqlMOS" connectionString="Database=mes; Server=192.168.0.241; Uid=MES_RO ; Pwd=MES_RO12345 ;Allow User Variables=True;charset=utf8mb4;port=1433"/>-->
  </connectionStrings>
  <appSettings>
    <!-- เพิ่มคีย์สำหรับพาธของรูปภาพบนเซิร์ฟเวอร์ -->
    <add key="EmpImgPath" value="\\192.168.14.35\s09_hr\16_Employee Photo\02_furukawa" />
    <add key="KeepDataPath" value="\\192.168.2.100\15_Document_Scan\Receiving\Vender_Inspection_Report" />
	<add key="MonitorPath" value="\\192.168.2.100\12_qa\01_Material\01_Improvement project\03_Pictures for program\Monitor" />
	<add key="PackingPath" value="\\192.168.2.100\12_qa\01_Material\01_Improvement project\03_Pictures for program\Packing" />
	<add key="RegularPath" value="\\192.168.2.100\12_qa\01_Material\01_Improvement project\03_Pictures for program\Regular" />
	<add key="FunctionPath" value="\\192.168.2.100\12_qa\01_Material\01_Improvement project\03_Pictures for program\Function" />
    <add key="DimensionPath" value="\\192.168.2.100\12_qa\01_Material\01_Improvement project\03_Pictures for program\Dimension" />
	<add key="AppearancePath" value="\\192.168.2.100\12_qa\01_Material\01_Improvement project\03_Pictures for program\Appearance" />
	  
	<add key="CavityPath" value="\\192.168.2.100\12_qa\01_Material\01_Improvement project\03_Pictures for program\1. รูป Cavity" />
	<add key="MaterialPath" value="\\192.168.2.100\12_qa\01_Material\01_Improvement project\03_Pictures for program\สิ่งที่ต้องเตรียม" />  
	  
	<add key="PrinterDefault" value="ApeosPort-IV C3375" />
	<add key="ReportFormatFile" value="\\192.168.2.100\12_qa\01_Material\01_Improvement project\04_Form Master" />
	<add key="ReportRecord" value="\\192.168.2.100\12_qa\01_Material\Z2_Receipt_Inspection\02 Check_sheet\Receiving_Inspection_Check_Sheet" />

<!-- TEST -->
<add key="RegularReportWaitApp" value="\\192.168.2.100\12_qa\01_Material\Z2_Receipt_Inspection\04_Regular check\2026\Wait Approved\Test" />
<add key="RegularReportApp" value="\\192.168.2.100\12_qa\01_Material\Z2_Receipt_Inspection\04_Regular check\2026\Approved\Test" />
<add key="RegularReportScan" value="\\192.168.2.100\15_Document_Scan\DOCUMENT QA\2026\FM-QA-B13-A Material Regular Inspection Record Sheet\Test" />
<add key="RegularReportDefaultTitle" value="FM-QA-B13-A Material Regular Inspection Record Sheet" />
<add key="RegularReportFormatId" value="" />
<add key="RegularReportTemplateFile" value="" />
<add key="RegularReportExcelDebug" value="false" />


<!-- <add key="RegularReportWaitApp" value="\\192.168.2.100\12_qa\01_Material\Z2_Receipt_Inspection\04_Regular check\2026\Wait Approved" />
<add key="RegularReportApp" value="\\192.168.2.100\12_qa\01_Material\Z2_Receipt_Inspection\04_Regular check\2026\Approved" />
<add key="RegularReportScan" value="\\192.168.2.100\15_Document_Scan\DOCUMENT QA" /> -->
	  
	<add key="ClientSettingsProvider.ServiceUri" value="" />
  
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.33.0" newVersion="8.0.33.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.1.0" newVersion="6.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.9.0.0" newVersion="1.9.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
